
<!DOCTYPE html>
<html lang="en" class="sky-bet">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="Sky Bet: Latest Cricket Odds | New Customer Free Bet | Online Betting" />
    <meta name="keywords" content="Barclays Premier League, in-play, live betting, live football, world football, horse racing, sports betting, live sport, live commentary, online, live, sport, football, sports, sky, horse, racing, race, bet, stats, gambling, betting, live sport on tv, sport on tv">
    <meta name="description" content="Cricket betting and all the latest Cricket odds from Sky Bet. Bet on the IPL and England Cricket, live betting available. Get the best cricket tips from our betting experts.">
    <meta name="robots" content="noodp, noydir, index, follow">
    <meta name="verify-v1" content="XsaYdOTPZzVxufA6J+Q5qZvz4dbLK/2GMwWeG7xO2XY=">
    <meta name="google-site-verification" content="JNw4y3nRzZYjWeJaAiJpsq-tYv5jDmqKjPYn5kQiANI">
    
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.skybet.com/cricket" >
    <link rel="canonical" href="http://www.skybet.com/cricket" />
    <link rel="meta" href="/labels.rdf" type="application/rdf+xml" title="ICRA labels">
    <link rel="shortcut icon" href="http://st1.skybet.com/static/sportsbook/img/favicon.ico">
    <link rel="alternate" href="http://www.skysports.com/rss/0,20514,12101,00.xml" type="application/rss+xml" title="Sky Bet Betting Blog">
    <link rel="apple-touch-icon" href="http://st1.skybet.com/static/sportsbook/img/appletouch.png">
    <link rel="stylesheet" href="http://st1.skybet.com/assets/bet-1011b60e2bcfe7b62175368a1a5860f9.css">

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
 	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/style-home.css' />
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script>
      var availableTeams = [
      "India",
      "Australia",
      "South Africa",
      "New Zealand",
      "Pakistan",
      "Sri Lanka",
      "England",
      "West Indies",
      "Bangladesh",
      "Ireland",
      "Zimbabwe",
      "Afghanistan",
      "Scotland",
      "United Arab Emirates"
    ];

  $(function() {
    var availablePlayers = [
      "India - MS Dhoni",
      "India - Stuart Binny",
      "India - Ravichandran Ashwin",
      "India - Axar Patel",
      "India - Virat Kohli",
      "India - Suresh Raina",
      "India - Shikhar Dhawan",
      "India - Rohit Sharma",
      "India - Ravindra Jadeja",
      "India - Bhuvaneshwar Kumar",
      "India - Mohammad Shami",
      "India - Ishant Sharma",
      "India - Ajinkya Rahane",
      "India - Ambati Rayudu",
      "India - Umesh Yadav",
      "Australia - David Warner",
      "Australia - George Bailey",
      "Australia - Steven Smith",
      "Australia - Shane Watson",
      "Australia - Aaron Finch",
      "Australia - Mitchell Marsh",
      "Australia - Mitchell Johnson"
    ];
    $( "#mom" ).autocomplete({
      source: availablePlayers
    });
  });

  $(function() {
    $( "#winningTeam" ).autocomplete({
      source: availableTeams
    });
  });  
  
    $(function() {
    $( "#teamWinningToss" ).autocomplete({
      source: availableTeams
    });
  }); 

    $(function() {
    var optionsOrder = ["Batting First", "Chasing"];
    $( "#battingOrderBet" ).autocomplete({
      source: optionsOrder
    });
  }); 

  </script>
<style>
#page{
background-image: -webkit-linear-gradient(left,#fcfdfd 0,rgba(249, 249, 249, 0) 19.23848%,#fff 19.23848%,#fff 100%);
}

.account-bar{
background-image: linear-gradient(to bottom,#25757F 0,#0E7B9B 50%,#426C96 50%,#01DFF1 100%);
}

#live-bet-bar .live-rowgroup td{
background: #009bdf !important;
}
</style>    
</head>
    <body class="fixed-width">
      <div class="new-account-bar">

<div class="account-bar  account-bar--bet js-myaccount">

  <div class="account-bar--wrap  fixed-width-limit cf">

        <div class="account-bar__left">
            <div class="account-bar__inner  account-bar__left-inner">
                <div class="account-bar__links-wrap">
                    <ul class="nav  account-links">
                          <li>
                              <a href="http://support.skybet.com/app/home"
                                  class="account-bar__link"
                              >Rules</a>
                          </li>
                        <li>
                            <a href="/mybetting"
                                class="account-bar__link js-feedback__btn"
                                data-omni="Feedback"
                            >My Bettings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="account-bar__right">
            <!-- Links on the right hand side -->
            <div class="account-bar__inner  account-bar__right-inner">
                <div class="account-bar__links-wrap">
                    <ul class="nav  account-links">
                            <li>
                                <a href="/logout"
                                    class="account-bar__link js-myaccount-register"
                                >Logout</a>
                            </li>
                            <li>
                                <a href="/homepage"
                                    class="js-account-bar__login account-bar__link"
                                ><i class="icon icon--natural" data-icon="&#xF006;"></i>&nbsp;<%=userFullName%></a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    <!--
    ###############################################################################################
    ACCOUNT BAR END
    ###############################################################################################
    -->
    </div>
    <!-- fixed-width-limit -->

        
</div>

    <div class="wrapper">
        <div id="page">
            <div >
                <div class="content-head">
                <h1 >Place Bets - <% matchDetails.forEach(function(matchDetail){ %>
  		   		     	<%= matchDetail.match_name %>
  					<%});%></h1>
                </div> <!-- /content-head -->
		    <div>
    </div>            
    
<div id="live-bet-bar" data-starting-events="[17462302,17462230,17462231,17440186,17462499,17464648,17464649,17464647,17461683,17465833,17465826,17465828,17465827,17462484,17313018,17425317,17425319]"
     class="live-bet-bar live-betting-panel tab-container">

    <div class="event-list uninitialized">
       
    <div class="mkt mkt-live island live-content no-redraw mkt-WDW" style="display: block;">
		<form action="/placebet" method="post" id='formPlaceBet'>
		<input type="hidden" name="matchid" value =<% matchDetails.forEach(function(matchDetail){ %>
  		   		     	<%= matchDetail.match_id %>
  					<%});%>/>		
  		<input type="hidden" name="action" value="insert"/>
        <table class="live-table">
        <colgroup>
            <col class="t7"></col>
            <col class="t7"></col>
            <col class="t7"></col>
            <col class="t7"></col>
            <col class="t7"></col>
            <col class="t7"></col>
        </colgroup>
            <thead>
            <tr>
                <th><span class="scoreheader">Type of Bet</span></th>
                <th scope="col" colspan="2"><span class="scoreheader">Selection</span></th>
                <th scope="col" colspan="2"><span class="scoreheader">Bets</span></th> 
            </tr>
            </thead>
    		<tr>
                <td><span class="scoreheader"><br></span></td>
                <td scope="col" colspan="2"><span class="scoreheader"><br></span></td>
                <td scope="col" colspan="2"><span class="scoreheader"><br></span></td> 
            </tr>			
            <tbody class="live-rowgroup">
				<tr style="height:40px;">
					<td class="noodds-cell t14-2 sels3" scope="col">
						<span class="odds-container"><label for="winningTeam">Winning Team: </label></span>
					</td>
					<td colspan="2" class="noodds-cell t14-2 sels3">
						<span class="odds-container"><div class="ui-widget"><input id="winningTeam" name = "winningTeam" style="width: 350px;"></div></span>
					</td>
					<td colspan="2" class="odds-cell t14-2 sels3">
						<span class="odds-container">
							<input id="winningTeamBetPoints" name = "winningTeamBetPoints" type="text" style="width: 50px;">
						</span>
					</td>
				</tr>
        	</tbody>
            <tbody class="live-rowgroup">
				<tr style="height:40px;">
					<div class="ui-widget">
					<td class="noodds-cell t14-2 sels3" scope="col">
						<span class="odds-container"> <label for="mom">Man Of the Match: </label></span>
					</td>
					<td colspan="2" class="noodds-cell t14-2 sels3">
						<span class="odds-container"><div class="ui-widget"><input id="mom" name = "mom" style="width: 350px;"></div></span>
					</td>
					</div>
					<td colspan="2" class="odds-cell t14-2 sels3">
						<span class="odds-container">
							<input id="momBetPoints" name = "momBetPoints" type="text" style="width: 50px;">
						</span>
					</td>
				</tr>
        	</tbody>

            <tbody class="live-rowgroup">
				<tr style="height:40px;">
					<td class="noodds-cell t14-2 sels3" scope="col">
						<span class="odds-container"><label for="teamWinningToss">Team Winning Toss: </label></span>
					</td>
					<td colspan="2" class="noodds-cell t14-2 sels3">
						<span class="odds-container"><div class="ui-widget"><input id="teamWinningToss" name = "teamWinningToss" style="width: 350px;"></div></span>
					</td>
					<td colspan="2" class="odds-cell t14-2 sels3">
						<span class="odds-container">
							<input id="teamWinningTossBetPoints" name = "teamWinningTossBetPoints" type="text" style="width: 50px;">
						</span>
					</td>
				</tr>
        	</tbody>

            <tbody class="live-rowgroup">
				<tr style="height:40px;">
					<td class="noodds-cell t14-2 sels3" scope="col">
						<span class="odds-container"><label for="battingOrderBet">Batting First / Chasing Wins: </label></span>
					</td>
					<td colspan="2" class="noodds-cell t14-2 sels3">
						<span class="odds-container"><div class="ui-widget"><input id="battingOrderBet" name = "battingOrderBet" style="width: 350px;"></div></span>
					</td>
					<td colspan="2" class="odds-cell t14-2 sels3">
						<span class="odds-container">
							<input id="battingOrderBetPoints" name = "battingOrderBetPoints" type="text" style="width: 50px;">
						</span>
					</td>
				</tr>
        	</tbody>
             <tbody class="live-rowgroup">
				<tr style="height:40px;">
					<td class="noodds-cell t14-2 sels3" scope="col">
						<span class="odds-container"><label for="runsScoredInOver">Runs scored in an over: </label></span>
					</td>
					<td colspan="2" class="noodds-cell t14-2 sels3">
						<span class="odds-container"><div class="ui-widget"><input id="runsScoredInOver" name = "runsScoredInOver" type="text" style="width: 350px;"></div></span>
					</td>
					<td colspan="2" class="odds-cell t14-2 sels3">
						<span class="odds-container">
							<input id="runsScoredInOverBetPoints" name = "runsScoredInOverBetPoints" type="text" style="width: 50px;">
						</span>
					</td>
				</tr>
        	</tbody>
             <tbody class="live-rowgroup">
				<tr style="height:40px;">
					<td class="noodds-cell t14-2 sels3" scope="col">
						<span class="odds-container"><label for="victoryMargin">Victory Margin (DRR): </label></span>
					</td>
					<td colspan="2" class="noodds-cell t14-2 sels3">
						<span class="odds-container"><div class="ui-widget"><input id="victoryMargin" name = "victoryMargin" type="text" style="width: 350px;"></div></span>
					</td>
					<td colspan="2" class="odds-cell t14-2 sels3">
						<span class="odds-container">
							<input id="victoryMarginBetPoints" name = "victoryMarginBetPoints" type="text" style="width: 50px;">
						</span>
					</td>
				</tr>
        	</tbody>
            </table>
            <br>
</div>

    </div>
</div>

    <div align="center">
    <button type="submit" class="btn btn-primary">Place Bets</button>
    <br>
    <br>
    </div>
            </form>


            </div> <!-- /content -->

        </div> <!-- /page -->

    


        
        <div id="page-footer">

            <div class="fl">
                <h3 class="hecto">
                    <a href="http://support.skybet.com/app/home" rel="external"></a>
                </h3>
                <ul class="inline-list" id="mbet_switch">
                    <li>
                        <a class="js-site-switch" href="/go/switch?site=mobile" data-omni="Footer Classic to Lite"></a>
                    </li>
                </ul>
            </div>

            <div class="gw fl">
                <div class="g g18">
                    <div id="page-footer-main">



                        <ul class="inline-list" id="faq-links">
                            <li>
                                <b></b>
                            </li>
                                                            <li>
                                    <a href="https://support.skybet.com/app/answers/detail/a_id/27"
                                        rel="external nofollow"
                                        target="_blank"
                                    ></a>
                                </li>
                                <li>
                                    <a href="https://support.skybet.com/app/answers/detail/a_id/26/"
                                        rel="external nofollow"
                                        target="_blank"
                                        ></a>
                                </li>
                                <li>
                                    <a href="https://support.skybet.com/app/answers/detail/a_id/162"
                                        rel="external nofollow"
                                        target="_blank"
                                    ></a>
                                </li>
                                <li>
                                    <a href="https://support.skybet.com/app/rules/c/39/"
                                        rel="external nofollow"
                                        target="_blank"
                                    ></a>
                                </li>
                                <li>
                                    <a href="?open=recover" class="js-myaccount-recover"></a>
                                </li>
                                                    </ul>

                    </div>
                </div>
            </div>

        </div><!-- /page-footer -->

    </div> <!-- /wrapper -->
    </div>

    
    </body>
</html>
