body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.bs-example
{
	margin: 0 auto;
	margin-left:5%;
	width: 20%;
	float : left;
}

div.product_content
{
	margin-left:5%;
	width:63%;
}

div.product_content h3 
{
	margin :0;
	margin-bottom:4%;
}

div.rows-container div.span3
{
	margin-right:5%;
	border: 1px black solid;
	padding: 2%;
	margin-bottom: 5%;
}
div.rows-container div.span3 p
{
	width:68%;
}

input.quantity
{
	width: 10%;
}

form.afterSignIn
{
	width:420px;
	margin:0 auto;
	margin-top: 8%;
}

div.col-sm-10
{
	margin-bottom:10px;
}

.usernameDiv
{
	margin-left: 10%;
	width:100%;
}

div.usernameDiv div.col-sm-10
{
	padding-left:0px;
}

.signIn
{
	margin-left : 10%;
}

.signuplink
{
	margin-left : 35%;
}

#if-part
{
	color : red;
	margin-left: 26%;
}

#if-part1
{
	color : red;
	margin-left: 45%;
	margin-top : 4%;
}

.signupPage
{
	width: 51%;
	margin: 0 auto;
	margin-top : 4%;
}

.addCatalog
{
	float: left;
	border: 1px solid black;
	margin-left: 10%;	
}

.labelProduct
{
	margin-left: 16px;
	margin-top: 10px;
}
.category_list
{
	clear : left;
}

.category_list1
{
	clear: right;
margin-top: 10px;
margin-left: 20px;
}

.common_css
{
	clear : both;
	float: left;	
}

.checkoutBody
{
	margin: 0 auto;
width: 900px;
margin-top: 8%;
}

.lastLogin
{
	font-weight: 100;
font-size: 14px;
}

.panel-primary {
border-color: rgba(4, 60, 119, 0.8);
}

.panel-primary>.panel-heading {
color: #fff;
background-color: rgba(2, 111, 175, 0.8);
border-color: rgba(2, 111, 175, 0.8);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #fff;
background-color: rgba(7, 7, 61, 1);
border-color: rgba(7, 7, 61, 1);
}

.btn-primary {
color: #fff;
background-color: rgba(7, 7, 61, 1);
border-color: rgba(7, 7, 61, 1);
background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(0, 155, 223, 1)),to(rgba(7, 7, 61, 1)));
}

.app-header
 {
	width:100%;
   height: 80px;
   background: rgba(198,17,0,.80);
   background: url('http://s3-media3.ak.yelpcdn.com/assets/2/www/img/108a292eb634/structural/header_stars@2x.png') no-repeat center,linear-gradient(#c41200, #af0606);
   position: relative;
   border-bottom: 1px solid #853330;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-topright: 5px;
   -webkit-border-top-left-radius: 5px;
   -webkit-border-top-right-radius: 5px;
   background-size: 1380px auto,100%;
   box-shadow: 0 0 5px rgba(78,2,2,0.76);
}

.app-header .logo {
background: url('http://s3-media1.ak.yelpcdn.com/assets/2/www/img/e0bcd848f6ae/structural/header_logo.png') no-repeat;
float: left;
height: 58px;
width: 111px;
margin: 9px 15px 9px 0;
padding: 0;
z-index: 3;
top: 0px;
left: 80px;
position: absolute;
}

.app-header .login-nav {
width: 20%;
float: right;
text-align: right;
	right: 50px;

}

ul {
list-style: none;
}

.app-header .login-nav  .signin-button {
	background: #a20000; /* this is a maroon */
	border-radius: 4px;
	text-shadow: 0 -1px 0 #760400;    
	color: white;
    border: 1px solid #7b0000;
    border-color: #a50508;
    background-image: linear-gradient(#be0100 4%, #a20000 5%, #7c0000);
    text-decoration: none !important;
    cursor: pointer;
    font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.app-header .login-nav .anchor{
	color: white;
    font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.signin-button {
	background: #ff2000; 
	border-radius: 4px;
	text-shadow: 0 -1px 0 #760400;    
	color: white;
    border: 1px solid #7b0000;
    border-color: #a50508;
    background-image: linear-gradient(#ff2000 2%, #ea050b 50%, #d40d04);
    text-decoration: none !important;
    cursor: pointer;
    font-size: 14px;
	font-weight: bold;
	text-align: center;
	width: 430px;
}

.btn-signup {
color: #fff;
background-color: #ff2000;
border-color: #a50508;
display: inline-block;
margin-bottom: 0;
font-weight: 400;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
width: 430px;
}
